<div id="container">
    <div id="title-container">
        <span id="serial">
            {{ hoverMenuData[3].serial }}
        </span>
        <div id="title">
            <span>{{ hoverMenuData[3].title }}</span>
            <span>{{ hoverMenuData[3].description }}</span>
        </div>
    </div>
    <div id="content-container">
        <div id="content">
            <div id="info">
                <span id="title">Hachi Hachi Pasteur</span>
                <div id="address">
                    <img src="/assets/page-six/pin.svg" alt="pinIcon">
                    <span>224A Pasteur St., Ward 6, Dist 3, HCMC</span>
                    <a href="">View on map</a>
                </div>
                
                <div id="phone">
                    <img src="/assets/page-six/phoneCall.svg" alt="phoneIcon">
                    <span>(028) 3820 6057</span>
                </div>

                <div id="contact-icon">
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M27.5 0H2.5C1.11875 0 0 1.11875 0 2.5V27.5C0 28.8813 1.11875 30 2.5 30H16.25V18.75H12.5V13.75H16.25V10.5163C16.25 6.64125 18.6163 4.53125 22.0737 4.53125C23.73 4.53125 25.1525 4.655 25.5675 4.71V8.76L23.17 8.76125C21.29 8.76125 20.9262 9.655 20.9262 10.965V13.75H26.4762L25.2262 18.75H20.9262V30H27.5C28.8813 30 30 28.8813 30 27.5V2.5C30 1.11875 28.8813 0 27.5 0Z" fill="#39579A"/>
                    </svg>
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.9999 0C6.79869 0 0.150879 6.21656 0.150879 13.8853C0.150879 18.2475 2.30244 22.14 5.66713 24.6863V30L10.7343 27.1894C12.0853 27.5672 13.5168 27.7706 14.999 27.7706C23.2003 27.7706 29.8481 21.5541 29.8481 13.8853C29.8481 6.21656 23.2012 0 14.9999 0ZM16.5637 18.6197L12.7237 14.6297L5.32775 18.72L13.4362 10.1147L17.2771 14.1047L24.6731 10.0144L16.5637 18.6197Z" fill="#0086FF"/>
                    </svg>        
                </div>
            </div>
            <div id="pages">
                <div id="leftVector">
                    <img id="leftVector" src="/assets/page-four/vector.svg" alt="leftVector">
                    <span>前のページ</span>
                </div>
                <span id="pages">1 / 6</span>
                <div id="rightVector">
                    <span>前のページ</span>
                    <img id="rightVector" src="/assets/page-four/vector.svg" alt="rightVector">
                </div>
            </div>
        </div>
        <img src="/assets/page-six/img.svg" alt="pageSixImage">
    </div>
</div>