<app-header></app-header>
<div id="container">
    <div id="left">
        <div id="title-container">
            <span id="serial">
                {{ hoverMenuData[0].serial }}
            </span>
            <div id="title">
                <span class="title">{{ hoverMenuData[0].title }}</span>
                <span class="description">{{ hoverMenuData[0].description }}</span>
            </div>
        </div>
    
        <div id="content">
            <span>ご来訪いただきまして、誠にありがとうございます。</span>
            <span>JAPANSHOPハチハチは日本の感性、日本の厳正な規格で作られた品を数多く提供させて頂きます。皆様の生活をより便利に、より楽しくを合言葉に新しいジャパンスタイルを提案します。</span>
            <span>また当店が架け橋となり日本とベトナムの交流が深まるようになれば嬉しいです。</span>
        </div>
    </div>
    <img id="image" src="assets/page-one/page-one.svg" alt="content-image">
</div>